*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
main{
    margin: 5vh 15%;
}
h1{
    position: absolute;
    font-size: 40px;
    color: tomato;
    font-weight: 400;
    text-align: center;
    top: 100px;
    left: 550px;
}
img{
    width: 200px;
    height: 100px;
    position: absolute;
    left: 100px;
    top: 10px;
}
p{
    text-align: justify;
    font-size: 18px;
}
label{
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: 20px;
    border: 2px solid;
    border-radius: 40px;
}
label:before{
    position: absolute;
    content: '';
    width:20px;
    height: 20px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    transition: 0.5s;
}
label.active:before{
    left: 24px;
    background: rgb(253, 253, 253);
}
body.night{
    background: #000;
    color: #fff;
    transition: 0.5s;
}
@media screen and (min-width:900px) {
    .respon{
    display: flex;
}
img{
    height: 550px;
    width: 350px;
    left: 10px;
    top: 1%;
    padding-top: 10vh;
    padding-right: 1%;

}
p{
    max-width: 80%;
    line-height: 30px;
    position: absolute;
    top: 300px;
    left: 400px;
}
}  